@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap'); /* importa fontes do google */

:root {
    --texto-titulo: 'Krona one', sans-serif;
    --texto-paragrafo: 'Montserrat', sans-serif;
    --texto-formulario: 'Montserrat', sans-serif;
    --cor-de-fundo: #0D0D0D;
    --cor-texto: #F2F2F2;
    --cor-titulo-strong: #0F71F2;
    --cor-box: #000;
    --cor-rodape: #014034;
}


body {
    box-sizing: border-box;
    background-color: var(--cor-de-fundo) !important; /*Tirando o estilo do bootstrap*/
    margin: 0;
    padding: 0;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="file"],
input[type="url"] {
    width: 40vh;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Um valor alto para garantir que a navegação fique acima de outros elementos */
}

img {
    max-width: 90%; 
    height: auto;
    border-radius: 6px;
    box-shadow: 5px 6px 20px var(--cor-box);
}

.col-md-3 select {
    width: 20.5rem;
}

.nav {
    font-family: var(--texto-titulo);
    font-weight: 600;
    gap: 5.5rem;
    padding: 0.5rem;
}

.titulo {
    margin-top: 5rem;
    color: var(--cor-texto);
    font-family: var(--texto-titulo);
    text-align: center;
}

.titulo__strong {
    color: var(--cor-titulo-strong);
}

.section__article {
    display: flex;
}

.section__article_paragrafo {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0.625rem 2.8125rem 0rem 2.8125rem;
}

.section__article_texto {
    color: var(--cor-texto);
    font-family: 'Krona one', sans-serif;
}

.container__main {
    display: flex;
    justify-content: center;
    padding: 8% 0%;
}

.container__Section_principal {
    width: 100%;
    border: 2px solid var(--cor-box);
    border-radius: 16px;
    box-shadow: 15px 10px 5px var(--cor-box);
    padding: 2% 5%;
    background-image: url('festival.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container__section__titulo {
    display: flex;
    justify-content: center;
    color: var(--cor-titulo-strong);
}

.container__form {
    display: flex;
    justify-content: space-between;
    padding: 7px 0px 7px 0px;
}

.container__Section__2 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.container_label {
    color: var(--cor-texto);
    font-family: var(--texto-formulario);
    font-size: 16px;
}

.alinhar__nome {
    display: contents;
}

.input_checkbox__termos {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.input_checkbox__termos p {
    text-align: center;
}

.button__submit {
    display: flex;
    justify-content: flex-end;
    /* max-height: 42px; */
    align-items: flex-end;
}

.rodape {
    display: flex;
    justify-content: center;
    color: var(--cor-texto);
    font-family: var(--texto-paragrafo);
    font-weight: 600;
    background-color: var(--cor-rodape);
    padding: 20px;
}

#option-estado {
    width: 20.50rem;
}

@media (max-width: 1368px) {
    .container__Section_principal {
        background-position: 35%;
    }

    .container__section__titulo {
        justify-content: flex-start;
    }

    .container__form {
        flex-direction: column;
    }

    .section__article {
        flex-direction: column-reverse;
        align-items: center;
    }

    .img__flex {
        display: flex;
        justify-content: center;
    }

    .container__Section__2 {
        align-items: flex-start;
    }

    .biografia__banda {
        width: 28% !important;
    }

    .order__termos {
        order: 2;
    }

    .order__submit {
        order: 3;
    }
}
 


